body {
    font-family: "Gill Sans"; 
    background-color: #b7f7ff; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    text-align: center;
    background-color: #fff7c6; 
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 1000px;
    border: 2px solid #ff89d4; 
}

.picture {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px;
    object-fit: cover;
    border: 3px solid #a3dbf1; 
}

.name {
    font-size: 26px;
    color: #FF69B4; 
    margin-bottom: 10px;
    font-weight: bold;
}

.title {
    font-size: 18px;
    color: #51d0db; 
    margin-bottom: 15px;
    font-style: italic;
}

.description {
    font-size: 16px;
    color: #696969;
    margin-bottom: 25px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #b7f7ff; 
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #FFB6C1;
}

.likes {
    font-size: 16px;
    color: #696969;
    margin-bottom: 25px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #ffe0f3; 
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #51d0db;
}

.list {
    font-size: 16px;
    color: #696969;
    margin-bottom: 25px;
    margin-left: 200px;
    margin-right: 200px;
    background-color:#fff7c6; 
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #51d0db;
}

.link {
    display: inline-block;
    background-color: #b7f7ff; 
    color: #696969;
    padding: 12px 24px;
    border-radius: 50px; 
}
